*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background-color: white;
}
nav
{
    background-color:#232f3e;
    color: white;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;
}

.search-container input,button
{
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}

.search-container input
{
    border-radius: 3px 0 0 3px;
}

.search-container button
{
    border-radius:0 3px 3px 0;
    background-color:#f5c518;
    cursor: pointer;
}

main
{
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 38px;
}
main section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72vh;
}

footer
{
    background:#232f3e;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    padding-block: 20px;
}

.movie-container
{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px #ccc;
    width: 80%;
    border-radius: 5px;
}

.movie-poster img
{
    height: 450px;
    margin-right: 30px;
    border-radius: 5px 0 0 5px;
}


.movie-info h2
{
    text-align: center;
    font-size: 32px;
    margin: 20px 0 12px 0;
}

.movie-info h2+p
{
    text-align: center;
}

.movie-info .movie-genre
{
    display: flex;
    justify-content: center;
    margin-block: 5px;
}

.movie-info .movie-genre p
{
    background: #232f3e;
    color: white;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.movie-info p
{
    font-size: 18px;
    margin-block:16px;
    line-height: 24px;
}

.nobackgrd
{
    background: none;
    box-shadow: none;
}